#cloud-config
users:
  - name: {{ vm_user_name }}
    gecos: {{ vm_user_gecos }}
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    groups: users, admin
    lock_passwd: true
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ vm_user_ssh_pub }}

preserve_hostname: false
prefer_fqdn_over_hostname: false
hostname: {{ vm_name|lower }}
fqdn: {{ vm_name|lower }}

timezone: "{{ vm_tz }}"
